:root {
  --lib-spacing-col-0: 0%;
  --lib-spacing-col-0-3: 2.7775%;
  --lib-spacing-col-0-4: 2.0833%;
  --lib-spacing-col-0-6: 4.1667%;
  --lib-spacing-col-0-8: 6.25%;
  --lib-spacing-col-0-9: 5.555%;
  --lib-spacing-col-1: 8.3333%;
  --lib-spacing-col-1-3: 11.1108%;
  --lib-spacing-col-1-4: 10.4167%;
  --lib-spacing-col-1-6: 12.5%;
  --lib-spacing-col-1-8: 14.5833%;
  --lib-spacing-col-1-9: 13.8883%;
  --lib-spacing-col-2: 16.6667%;
  --lib-spacing-col-2-3: 19.4442%;
  --lib-spacing-col-2-4: 18.75%;
  --lib-spacing-col-2-6: 20.8333%;
  --lib-spacing-col-2-8: 22.9167%;
  --lib-spacing-col-2-9: 22.2217%;
  --lib-spacing-col-3: 25%;
  --lib-spacing-col-3-3: 27.7775%;
  --lib-spacing-col-3-4: 27.0833%;
  --lib-spacing-col-3-6: 29.1667%;
  --lib-spacing-col-3-8: 31.25%;
  --lib-spacing-col-3-9: 30.555%;
  --lib-spacing-col-4: 33.3333%;
  --lib-spacing-col-5: 41.6667%;
  --lib-spacing-col-6: 50%;
  --lib-spacing-col-7: 58.3333%;
  --lib-spacing-col-8: 66.6667%;
  --lib-spacing-col-9: 75%;
  --lib-spacing-col-10: 83.3333%;
  --lib-spacing-col-11: 91.6667%;
  --lib-spacing-col-12: 100%;
  --lib-spacing-colvw-0: 0vw;
  --lib-spacing-colvw-0-3: 2.7775vw;
  --lib-spacing-colvw-0-4: 2.0833vw;
  --lib-spacing-colvw-0-6: 4.1667vw;
  --lib-spacing-colvw-0-8: 6.25vw;
  --lib-spacing-colvw-0-9: 5.555vw;
  --lib-spacing-colvw-1: 8.3333vw;
  --lib-spacing-colvw-1-3: 11.1108vw;
  --lib-spacing-colvw-1-4: 10.4167vw;
  --lib-spacing-colvw-1-6: 12.5vw;
  --lib-spacing-colvw-1-8: 14.5833vw;
  --lib-spacing-colvw-1-9: 13.8883vw;
  --lib-spacing-colvw-2: 16.6667vw;
  --lib-spacing-colvw-2-3: 19.4442vw;
  --lib-spacing-colvw-2-4: 18.75vw;
  --lib-spacing-colvw-2-6: 20.8333vw;
  --lib-spacing-colvw-2-8: 22.9167vw;
  --lib-spacing-colvw-2-9: 22.2217vw;
  --lib-spacing-colvw-3: 25vw;
  --lib-spacing-colvw-3-3: 27.7775vw;
  --lib-spacing-colvw-3-4: 27.0833vw;
  --lib-spacing-colvw-3-6: 29.1667vw;
  --lib-spacing-colvw-3-8: 31.25vw;
  --lib-spacing-colvw-3-9: 30.555vw;
  --lib-spacing-colvw-4: 33.3333vw;
  --lib-spacing-colvw-5: 41.6667vw;
  --lib-spacing-colvw-6: 50vw;
  --lib-spacing-colvw-7: 58.3333vw;
  --lib-spacing-colvw-8: 66.6667vw;
  --lib-spacing-colvw-9: 75vw;
  --lib-spacing-colvw-10: 83.3333vw;
  --lib-spacing-colvw-11: 91.6667vw;
  --lib-spacing-colvw-12: 100vw;
}