:root {
  --lib-color-neutral-white: #ffffff;
  --lib-color-neutral-lighter: #f4f4f4;
  --lib-color-neutral-light: #dedede;
  --lib-color-neutral-base: #bdbdbd;
  --lib-color-neutral-dark: #747474;
  --lib-color-neutral-text: #1d1d1d;
  --lib-color-status-success-base: #1e7935;
  --lib-color-status-success-light: #78af86;
  --lib-color-status-success-dark: #124920;
  --lib-color-status-error-base: #cd3333;
  --lib-color-status-error-light: #e18585;
  --lib-color-status-error-dark: #7b1f1f;
  --lib-color-status-warning-base: #f37012;
  --lib-color-status-warning-light: #f8a971;
  --lib-color-status-warning-dark: #92430b;
  --lib-color-primary-base: #046ac4;
  --lib-color-primary-dark: #024076;
  --lib-color-primary-light: #68a6dc;
  --lib-color-secondary-base: #1087b5;
  --lib-color-secondary-light: #87c3da;
  --lib-color-secondary-dark: #0a516d;
  --lib-color-10: #f4f4f4;
  --lib-color-20: #e9e9e9;
  --lib-color-30: #dedede;
  --lib-color-40: #d3d3d3;
  --lib-color-50: #c8c8c8;
  --lib-color-60: #bdbdbd;
  --lib-color-70: #b3b3b3;
  --lib-color-80: #a7a7a7;
  --lib-color-90: #9c9c9c;
  --lib-color-100: #919191;
  --lib-color-120: #747474;
  --lib-color-140: #575757;
  --lib-color-160: #3a3a3a;
  --lib-color-180: #1d1d1d;
  --lib-color-05: #f9f9f9;
  --lib-color-10: #e5f0f9;
  --lib-color-20: #cde1f3;
  --lib-color-30: #b3d2ed;
  --lib-color-40: #9bc3e7;
  --lib-color-50: #81b4e1;
  --lib-color-60: #68a6dc;
  --lib-color-70: #5097d6;
  --lib-color-80: #3688d0;
  --lib-color-90: #1e79ca;
  --lib-color-100: #046ac4;
  --lib-color-120: #03559d;
  --lib-color-140: #024076;
  --lib-color-160: #022a4e;
  --lib-color-05: #e5f0f9;
  --lib-color-10: #e8f1ea;
  --lib-color-20: #d2e4d7;
  --lib-color-30: #bbd6c2;
  --lib-color-40: #a5c9ae;
  --lib-color-50: #8ebc9a;
  --lib-color-60: #78af86;
  --lib-color-70: #62a272;
  --lib-color-80: #4b945d;
  --lib-color-90: #35874a;
  --lib-color-100: #1e7935;
  --lib-color-120: #18612a;
  --lib-color-140: #124920;
  --lib-color-160: #124920;
  --lib-color-05: #f4f8f5;
  --lib-color-10: #faeaea;
  --lib-color-20: #f5d6d6;
  --lib-color-30: #f0c1c1;
  --lib-color-40: #ebadad;
  --lib-color-50: #e69999;
  --lib-color-60: #e18585;
  --lib-color-70: #dc7171;
  --lib-color-80: #d75c5c;
  --lib-color-90: #d24848;
  --lib-color-100: #cd3333;
  --lib-color-120: #a42929;
  --lib-color-140: #7b1f1f;
  --lib-color-160: #521414;
  --lib-color-05: #fcf5f5;
  --lib-color-10: #fdf0e7;
  --lib-color-20: #fde2d0;
  --lib-color-30: #fbd4b7;
  --lib-color-40: #fac6a0;
  --lib-color-50: #f9b788;
  --lib-color-60: #f8a971;
  --lib-color-70: #f79b5a;
  --lib-color-80: #f58d41;
  --lib-color-90: #f57f2a;
  --lib-color-100: #f37012;
  --lib-color-120: #c25a0e;
  --lib-color-140: #92430b;
  --lib-color-160: #612d07;
  --lib-color-05: #fef8f3;
  --lib-color-10: #eaedf5;
  --lib-color-20: #d7dceb;
  --lib-color-30: #c2cbe1;
  --lib-color-40: #aebad8;
  --lib-color-50: #9aa8ce;
  --lib-color-60: #8697c4;
  --lib-color-70: #7286bb;
  --lib-color-80: #5d75b1;
  --lib-color-90: #4a64a7;
  --lib-color-100: #35529d;
  --lib-color-120: #2a427e;
  --lib-color-140: #20315e;
  --lib-color-160: #15213f;
  --lib-color-05: #f5f6fa;
  --lib-color-10: #fbedf4;
  --lib-color-20: #f7dbea;
  --lib-color-30: #f3c9e0;
  --lib-color-40: #efb7d6;
  --lib-color-50: #eba5cb;
  --lib-color-60: #e793c1;
  --lib-color-70: #e382b7;
  --lib-color-80: #df6fad;
  --lib-color-90: #db5ea3;
  --lib-color-100: #d74b98;
  --lib-color-120: #ac3c7a;
  --lib-color-140: #812d5b;
  --lib-color-160: #561e3d;
  --lib-color-05: #fdf6fa;
  --lib-color-10: #e7f3f7;
  --lib-color-20: #cfe7f0;
  --lib-color-30: #b7dbe8;
  --lib-color-40: #9fcfe1;
  --lib-color-50: #87c3da;
  --lib-color-60: #87c3da;
  --lib-color-70: #58accc;
  --lib-color-80: #409fc4;
  --lib-color-90: #2894bd;
  --lib-color-100: #1087b5;
  --lib-color-120: #0d6c91;
  --lib-color-140: #0a516d;
  --lib-color-160: #063648;
  --lib-color-05: #f3f9fb;
  --lib-type-heading-1: 400 2em/2.5em 'Inter';
  --lib-type-heading-1-size: 32;
  --lib-type-heading-1-weight: 400;
  --lib-type-heading-1-b: 600 2em/1.875em 'Inter';
  --lib-type-heading-1-b-size: 32;
  --lib-type-heading-1-b-weight: 600;
  --lib-type-heading-2: 400 1.5em/2em 'Inter';
  --lib-type-heading-2-size: 24;
  --lib-type-heading-2-weight: 400;
  --lib-type-heading-2-b: 600 1.5em/2em 'Inter';
  --lib-type-heading-2-b-size: 24;
  --lib-type-heading-2-b-weight: 600;
  --lib-type-heading-3: 400 1.25em/1.5em 'Inter';
  --lib-type-heading-3-size: 20;
  --lib-type-heading-3-weight: 400;
  --lib-type-heading-3-b: 600 1.25em/1.5em 'Inter';
  --lib-type-heading-3-b-size: 20;
  --lib-type-heading-3-b-weight: 600;
  --lib-type-heading-4: 400 1.125em/1.5em 'Inter';
  --lib-type-heading-4-size: 18;
  --lib-type-heading-4-weight: 400;
  --lib-type-heading-5: 400 1em/1.25em 'Inter';
  --lib-type-heading-5-size: 16;
  --lib-type-heading-5-weight: 400;
  --lib-type-heading-5-b: 600 1em/1.2em 'Inter';
  --lib-type-heading-5-b-size: 16;
  --lib-type-heading-5-b-weight: 600;
  --lib-type-heading-6: 400 0.875em/1.125em 'Inter';
  --lib-type-heading-6-size: 14;
  --lib-type-heading-6-weight: 400;
  --lib-type-link: 600 0.875em/1em 'Inter';
  --lib-type-link-size: 14;
  --lib-type-link-weight: 600;
  --lib-type-label-bold: 600 0.75em/1em 'Inter';
  --lib-type-label-bold-size: 12;
  --lib-type-label-bold-weight: 600;
  --lib-type-label: 400 0.75em/1em 'Inter';
  --lib-type-label-size: 12;
  --lib-type-label-weight: 400;
  --lib-type-button: 500 0.875em/1em 'Inter';
  --lib-type-button-size: 14;
  --lib-type-button-weight: 500;
  --lib-type-caption: 400 0.75em/1em 'Inter';
  --lib-type-caption-size: 12;
  --lib-type-caption-weight: 400;
  --lib-type-body-1-semi-bold: 600 1em/1.5em 'Inter';
  --lib-type-body-1-semi-bold-size: 16;
  --lib-type-body-1-semi-bold-weight: 600;
  --lib-type-body-1-regular: 400 1em/1.5em 'Inter';
  --lib-type-body-1-regular-size: 16;
  --lib-type-body-1-regular-weight: 400;
  --lib-type-body-1-regular-underlined: 400 1em/1.5em 'Inter';
  --lib-type-body-1-regular-underlined-size: 16;
  --lib-type-body-1-regular-underlined-weight: 400;
  --lib-type-body-2-regular: 400 0.875em/1.5em 'Inter';
  --lib-type-body-2-regular-size: 14;
  --lib-type-body-2-regular-weight: 400;
  --lib-type-body-2-semi-bold: 600 0.875em/1.5em 'Inter';
  --lib-type-body-2-semi-bold-size: 14;
  --lib-type-body-2-semi-bold-weight: 600;
  --lib-type-body-2-regular-underlined: 400 0.875em/1.125em 'Inter';
  --lib-type-body-2-regular-underlined-size: 14;
  --lib-type-body-2-regular-underlined-weight: 400;
  --lib-type-subtitle-subtitle-2: 400 0.875em/1.125em 'Inter';
  --lib-type-subtitle-subtitle-2-size: 14;
  --lib-type-subtitle-subtitle-2-weight: 400;
  --lib-type-subtitle-subtitle-1: 400 1em/1.25em 'Inter';
  --lib-type-subtitle-subtitle-1-size: 16;
  --lib-type-subtitle-subtitle-1-weight: 400;
  --lib-type-heading-1: 700 2em/2.25em 'ITC Avant Garde Gothic Pro';
  --lib-type-heading-1-size: 32;
  --lib-type-heading-1-weight: 700;
  --lib-type-heading-2: 700 1.5em/1.875em 'ITC Avant Garde Gothic Pro';
  --lib-type-heading-2-size: 24;
  --lib-type-heading-2-weight: 700;
  --lib-spacing-col-0: 0%;
  --lib-spacing-col-0-3: 2.7775%;
  --lib-spacing-col-0-4: 2.0833%;
  --lib-spacing-col-0-6: 4.1667%;
  --lib-spacing-col-0-8: 6.25%;
  --lib-spacing-col-0-9: 5.555%;
  --lib-spacing-col-1: 8.3333%;
  --lib-spacing-col-1-3: 11.1108%;
  --lib-spacing-col-1-4: 10.4167%;
  --lib-spacing-col-1-6: 12.5%;
  --lib-spacing-col-1-8: 14.5833%;
  --lib-spacing-col-1-9: 13.8883%;
  --lib-spacing-col-2: 16.6667%;
  --lib-spacing-col-2-3: 19.4442%;
  --lib-spacing-col-2-4: 18.75%;
  --lib-spacing-col-2-6: 20.8333%;
  --lib-spacing-col-2-8: 22.9167%;
  --lib-spacing-col-2-9: 22.2217%;
  --lib-spacing-col-3: 25%;
  --lib-spacing-col-3-3: 27.7775%;
  --lib-spacing-col-3-4: 27.0833%;
  --lib-spacing-col-3-6: 29.1667%;
  --lib-spacing-col-3-8: 31.25%;
  --lib-spacing-col-3-9: 30.555%;
  --lib-spacing-col-4: 33.3333%;
  --lib-spacing-col-5: 41.6667%;
  --lib-spacing-col-6: 50%;
  --lib-spacing-col-7: 58.3333%;
  --lib-spacing-col-8: 66.6667%;
  --lib-spacing-col-9: 75%;
  --lib-spacing-col-10: 83.3333%;
  --lib-spacing-col-11: 91.6667%;
  --lib-spacing-col-12: 100%;
  --lib-spacing-colvw-0: 0vw;
  --lib-spacing-colvw-0-3: 2.7775vw;
  --lib-spacing-colvw-0-4: 2.0833vw;
  --lib-spacing-colvw-0-6: 4.1667vw;
  --lib-spacing-colvw-0-8: 6.25vw;
  --lib-spacing-colvw-0-9: 5.555vw;
  --lib-spacing-colvw-1: 8.3333vw;
  --lib-spacing-colvw-1-3: 11.1108vw;
  --lib-spacing-colvw-1-4: 10.4167vw;
  --lib-spacing-colvw-1-6: 12.5vw;
  --lib-spacing-colvw-1-8: 14.5833vw;
  --lib-spacing-colvw-1-9: 13.8883vw;
  --lib-spacing-colvw-2: 16.6667vw;
  --lib-spacing-colvw-2-3: 19.4442vw;
  --lib-spacing-colvw-2-4: 18.75vw;
  --lib-spacing-colvw-2-6: 20.8333vw;
  --lib-spacing-colvw-2-8: 22.9167vw;
  --lib-spacing-colvw-2-9: 22.2217vw;
  --lib-spacing-colvw-3: 25vw;
  --lib-spacing-colvw-3-3: 27.7775vw;
  --lib-spacing-colvw-3-4: 27.0833vw;
  --lib-spacing-colvw-3-6: 29.1667vw;
  --lib-spacing-colvw-3-8: 31.25vw;
  --lib-spacing-colvw-3-9: 30.555vw;
  --lib-spacing-colvw-4: 33.3333vw;
  --lib-spacing-colvw-5: 41.6667vw;
  --lib-spacing-colvw-6: 50vw;
  --lib-spacing-colvw-7: 58.3333vw;
  --lib-spacing-colvw-8: 66.6667vw;
  --lib-spacing-colvw-9: 75vw;
  --lib-spacing-colvw-10: 83.3333vw;
  --lib-spacing-colvw-11: 91.6667vw;
  --lib-spacing-colvw-12: 100vw;
}